<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The css file can be modified for every template if required -->
		{% block style_css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		{% endblock %}
		<title>Website Homepage Design Prototype #1</title>
	</head>
	
	<body>
	<!-- Sticky navigation bar where the main functionality can be accessed from -->
	{% block navigation_bar %}
		<div class="navigation-bar">
			<a href="/readingTime/">home</a>
			<a href="#temp#">MyBooks</a>
			<a href="#temp#" class="right">Contact Us</a>
			{% if logged_in %}
				<a href="/readingTime/logOut/" class="right">Sign Out</a>
				<a href="/readingTime/myAccount/" class="right">My account</a>
				<a href="/polls/" class="right">User Polls</a>				
			{% else %}
				<a href="/readingTime/register/" class="right">Register</a>
				<a href="/readingTime/signIn/" class="right">Sign In</a>
				<a href="/readingTime/signIn/" class="right">Poll Results</a>
			{% endif %}
		</div>
	{% endblock %}
		
	<!-- Developer poll section -->
	{% block developer_poll %}
		
	{% endblock %}
		
	<!-- main body -->
	{% block body_block %}
	
	{% endblock %}
		
	<!-- footer (will not be modified) -->
	{% block footer %}
	<div class="footer">
		<h3>ReadingTime</h3>
	</div>
	{% endblock %}
	</body>
</html>