<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}" />
		<title>Website Homepage Design Prototype #1</title>
	</head>

	<div class="navigation-bar">
			<a href="/readingTime/">home</a>
			<a href="#temp#">MyBooks</a>
			<a href="#temp#" class="right">Contact Us</a>
			{% if logged_in %}
				<a href="/readingTime/logOut/" class="right">Sign Out</a>
				<a href="/readingTime/signIn/" class="right">My account</a> 
			{% else %}
				<a href="/readingTime/register/" class="right">Register</a>
				<a href="/readingTime/signIn/" class="right">Sign In</a>
			{% endif %}
	</div>
	
	<main class="container">
 
	  <!-- Left Column / Image -->
		<div class="left">
			<img src="{% static 'books/' %}{{ title }}.jpg" alt="Temporary_Text (image not found)" />
		</div>
	  
	  <!-- Right Column -->
	  <div class="right-column">
	 
		<!-- Product Description -->
		<div class="product-description">
		  <h1>{{ title }}</h1>
		  <h2>{{ author}}</h2>
		  <p>{{ synopsis }}</p>
		</div>
	 
		<!-- Product Configuration -->
		<div class="product-configuration">
	 
		  <!-- Cable Configuration -->
		  <div class="cable-config">
			<span>Activities</span>
			<p></p>
			<div class="cable-choose">
			  <button>ToRead</button>
			  <br /><p></p>
			  <button>Global Rating<br/><p></p>{{ global_rating }}</button>
			  <br /><p></p>
			  <button>Personal Rating<br /></p>{{ personal_rating }}</button>
			</div>
		  </div>
		</div>
	  </div>
	</main>
	
	<div class="footer">
		<h3>ReadingTime</h3>
	</div>
	
</html>



