{% extends 'readingTime/base.html' %}
{% load staticfiles %}

{% block style_css %}
	<!-- Inherits the css file from base.html -->
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}" />
{% endblock %}

{% block body_block %}
<main class="container">
 
	  <!-- Left Column / Image -->
		<div class="left">
			<img src="{% static 'books/' %}{{ title }}.jpg" alt="Temporary_Text (image not found)" />
		</div>
	  
	  <!-- Right Column -->
	<div class="right-column">
		<!-- Product Description -->
		<div class="book-description">
		  <h1>{{ title }}</h1>
		  <h2>{{ author}}</h2>
		  <p>{{ synopsis }}</p>
		</div>
		
		<!-- Cable Configuration -->
		<div class="book-layout">
			<span>Activities</span>
			<p></p>
			<div class="activities">
				{% if in_read_list %}
					<button style="background:#32CD32">ToRead</button>
				{% else %}
					<button style="background:#FF6C5C">ToRead</button>
				{% endif %}
				<br /><p></p>
				<button>Global Rating<br/><p></p>{{ global_rating }}</button>
				<br /><p></p>
				{% if logged_in %}
					<button>Personal Rating<br /></p>{{ personal_rating }}</button>
				{% else %}
					<button onclick="location.href='/readingTime/signIn'">Personal Rating<br /></p>SignIn </button>
				{% endif %}
			</div>
		</div>
	</div>
</main>
{% endblock %}



