{% extends 'readingTime/base.html' %}
{% load staticfiles %}

{% block style_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
{% endblock %}

{% block navigation_bar %}
<div class="navigation-bar">
	<a href="/readingTime/">home</a>		
</div>
{% endblock %}

{% block body_block %}
<div class="main" >
	{% if messages %}
		{% for  message in messages %}
			<div class="alert"> 
				<span class="close-button" onclick="this.parentElement.style.display='none';">&times; </span>
				<strong> {{ message }}</strong>
			</div>
		{% endfor %}
	{% endif %}
	<!-- action indicates where to send the form when submitted -->
	<form class="registration-form" method="post" action="{% url 'readingTime:deleteProfile' %}" enctype="multipart/form-data" > 
		<div class="register-container">
			<h2>Are you sure?</h2>	
			<!-- Login button -->
			<div>
				<button type="login" class="submit-button">Delete Profile</button> 
			</div>
		</div>
	</form>
</div>
{% endblock %}