{% extends 'readingTime/base.html' %}
{% load staticfiles %}

{% block style_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
{% endblock %}

{% block navigation_bar %}
<div class="navigation-bar">
	<a href="/readingTime/">home</a>		
</div>
{% endblock %}

{% block body_block %}
<div class="main" >
	{% if messages %}
		{% for  message in messages %}
			<div class="alert"> 
				<span class="close-button" onclick="this.parentElement.style.display='none';">&times; </span>
				<strong> {{ message }}</strong>
			</div>
		{% endfor %}
	{% endif %}
	<!-- action indicates where to send the form when submitted -->
	<form class="registration-form" method="post" action="{% url 'readingTime:editProfile' %}" enctype="multipart/form-data" > 
		<div class="register-container">
			<h2>Edit Your ReadingTime Account</h2>
			
			{% csrf_token %}
					
			{% for field in user_form %}
				<p>
					{% if field.label_tag|stringformat:"s" == 'Password' %}
						<p> {{ field.label_tag }} </p>
					{% else %}
						{{ field.label_tag }}<br>
						{{ field }}
					{% endif %}
				</p>
			{% endfor %}
					
			<!-- Login button -->
			<div>
				<button type="submit" class="submit-button">Edit</button>
			</div>
			<br />
		</div>
	</form>
</div>
{% endblock %}