{% extends 'readingTime/base.html' %}
{% load staticfiles %}

{% block developer_poll %}
<div class="poll">
	<h3>DEVELOPER_POLL</h3>
</div>
{% endblock %}

{% block body_block %}
<ul>
	{% if categories %}
		{% for category in categories %}
			<li> 
				<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/?{{ category.name }}'">{{ category.name }}</div>
				<!-- we get a different image for each category in categories. -->
				<img src="{% static 'img/' %}{{ category.name }}.jpg" alt="Temporary text(image not found)" />
				<!-- <img src="{% static 'img/' %}{{ category.name }}.jpg" alt="Temporary text(image not found)" style="width:304px;height:350px" /> -->
			</li>
		{% endfor %}
	{% else %}
		<li> 
			<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/'">Temporary Category</div>
			<!-- temporary image for each category. -->
			<img src="{% static 'img/temporary.jpg' %}" alt="Temporary text(image not found)" />
		</li>
		<li> 
			<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/'">Temporary Category</div>
			<!-- temporary image for each category. -->
			<img src="{% static 'img/temporary.jpg' %}" alt="Temporary text(image not found)" />
		</li>
		<li> 
			<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/'">Temporary Category</div>
			<!-- temporary image for each category. -->
			<img src="{% static 'img/temporary.jpg' %}" alt="Temporary text(image not found)" />
		</li>
		<li> 
			<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/'">Temporary Category</div>
			<!-- temporary image for each category. -->
			<img src="{% static 'img/temporary.jpg' %}" alt="Temporary text(image not found)" />
		</li>
		<li> 
			<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/'">Temporary Category</div>
			<!-- temporary image for each category. -->
			<img src="{% static 'img/temporary.jpg' %}" alt="Temporary text(image not found)" />
		</li>
		<li> 
			<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/'">Temporary Category</div>
			<!-- temporary image for each category. -->
			<img src="{% static 'img/temporary.jpg' %}" alt="Temporary text(image not found)" />
		</li>
		<li> 
			<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/'">Temporary Category</div>
			<!-- temporary image for each category. -->
			<img src="{% static 'img/temporary.jpg' %}" alt="Temporary text(image not found)" />
		</li>
	{% endif %}
</ul>
{% endblock %}

	
