{% extends 'readingTime/base.html' %}
{% load staticfiles %}


{% block developer_poll %}
<div class="poll">
</div>
{% endblock %}

{% block body_block %}
<div class="main">
<ul>
	{% if categories %}
		{% for category in categories %}
			<li> 
				<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/?{{ category.name }}'">{{ category.name }}</div>
				<!-- we get a different image for each category in categories. -->
				<img src="{% static 'img/' %}{{ category.name }}.jpg" alt="Temporary text(image not found)" />
			</li>
		{% endfor %}
	<!-- if no categories present, show the following example -->
	{% else %}
		<li> 
			<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/'" >Temporary Category</div>
			<!-- temporary image for each category. -->
			<img src="{% static 'img/temporary.jpg' %}" alt="Temporary text(image not found)" />
		</li>
		<li> 
			<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/'">Temporary Category</div>
			<!-- temporary image for each category. -->
			<img src="{% static 'img/temporary.jpg' %}" alt="Temporary text(image not found)" />
		</li>
		<li> 
			<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/'">Temporary Category</div>
			<!-- temporary image for each category. -->
			<img src="{% static 'img/temporary.jpg' %}" alt="Temporary text(image not found)" />
		</li>
		<li> 
			<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/'">Temporary Category</div>
			<!-- temporary image for each category. -->
			<img src="{% static 'img/temporary.jpg' %}" alt="Temporary text(image not found)" />
		</li>
		<li> 
			<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/'">Temporary Category</div>
			<!-- temporary image for each category. -->
			<img src="{% static 'img/temporary.jpg' %}" alt="Temporary text(image not found)" />
		</li>
		<li> 
			<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/'">Temporary Category</div>
			<!-- temporary image for each category. -->
			<img src="{% static 'img/temporary.jpg' %}" alt="Temporary text(image not found)" />
		</li>
		<li> 
			<div class="header" style="cursor: pointer" onclick="location.href='/readingTime/category/'">Temporary Category</div>
			<!-- temporary image for each category. -->
			<img src="{% static 'img/temporary.jpg' %}" alt="Temporary text(image not found)" />
		</li>
	{% endif %}
</ul>
</div>
{% endblock %}

	
