{% extends 'readingTime/base.html' %}
{% load staticfiles %}

{% block style_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" />
{% endblock %}

{% block navigation_bar %}
<div class="navigation-bar">
	<a href="/readingTime/">home</a>		
</div>
{% endblock %}

{% block body_block %}
<div class="main">
	<div class="profile">
		<img src="{% static 'img/avatar.png' %}" alt="Avatar">
		<h1>{{ username }}</h1>
		<p class="title">{{ first_name }}</p>
		<p class="title">{{ last_name }}</p>
		<p class="title">{{ email }}</p>
		  
		<p><button onclick="location.href='/readingTime/editProfile/'">Edit Profile</button></p>
		<p><button onclick="location.href='/readingTime/changePassword/'">Change Password</button></p>
	</div>
</div>
{% endblock %}