{% extends 'readingTime/base.html' %}
{% load staticfiles %}

{% block style_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
{% endblock %}

{% block navigation_bar %}
<div class="navigation-bar">
	<a href="/readingTime/">home</a>		
</div>
{% endblock %}

{% block body_block %}
<div class="main" >
	{% if messages %}
		{% for  message in messages %}
			<div class="alert"> 
				<span class="close-button" onclick="this.parentElement.style.display='none';">&times; </span>
				<strong> {{ message }}</strong>
			</div>
		{% endfor %}
	{% endif %}
	<!-- action indicates where to send the form when submitted -->	
	<form id="user_form" class="registration-form" method="post" action="{% url 'readingTime:register' %}" enctype="multipart/form-data">
		<div class="register-container">
			<h1>Welcome new User!</h1>
			<p>Fill out the form carefully for registration</p>
			<hr> <!-- leaves a thin, black line before the beginning of the form-->
					
			{% csrf_token %}
					
			{% for field in user_form %}
				<p>
					{{ field.label_tag }}<br>
					{{ field }}
				</p>
			{% endfor %}
					
			<!-- Cancel and submit buttons -->
			<div>
				<!-- redirects user to home page -->
				<button type="button" class="cancel-button" onclick="location.href='/readingTime/'">Cancel</a></button>
				<!-- submits form -->
				<button type="submit" class="submit-button" value="Register">Register</button> 
			</div>
		</div>
	</form>
</div>
{% endblock %}
	

