<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
	</head>
	
	<body>
		<div class="main">
			{% if registered %}
				<a href="{% url 'readingTime:home' %}">Home</a><br />
			{% else %}
			<!-- action indicates where to send the form when submitted -->	
			<form id="user_form" class="registration-form" method="post" action="{% url 'readingTime:register' %}" enctype="multipart/form-data">
				<div class="register-container">
					<h1>Welcome new User!</h1>
					<p>Fill out the form carefully for registration</p>
					<hr> <!-- leaves a thin, black line before the beginning of the form-->
					
					{% csrf_token %}
					
					{% for field in user_form %}
						<p>
							{{ field.label_tag }}<br>
							{{ field }}
						</p>
					{% endfor %}
					<!-- <label for="email"><b>Email Address</b></label>
					<input type="email" placeholder="example1@company.com" name="email" required>
					
					<label for="firstName"><b>First Name</b></label>
					<input type="text" placeholder="Bob" name="firstName" required>
					
					<label for="lastname"><b>Last Name</b></label>
					<input type="text" placeholder="Dylan" name="lastName" required>
					
					<label for="Username"><b>Username</b></label>
					<input type="text" placeholder="Bob247" name="username" required>
					
					<label for="password"><b>Password</b></label>
					<input type="password" placeholder="######" name="password" required>
					
					<label for="password-repeat"><b>Repeat Password</b></label>
					<input type="password" placeholder="######" name="password-repeat" required>
					
					<!-- Cancel and submit buttons -->
					<div>
						<!-- redirects user to home page -->
						<button type="button" class="cancel-button" onclick="location.href='/readingTime/'">Cancel</a></button>
						<!-- submits form -->
						<button type="submit" class="submit-button" value="Register">Register</button> 
					</div>
				</div>
			</form>
			{% endif %}
		</div>
	</body>
</html>
	

