* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

/** Sticky allows us to have a navigation bar that can be either fixed or relative*/
.navigation-bar {
	overflow: hidden;
	background-color: #333;
	position:sticky;
	position: -webkit-sticky;
	top: 0;	
}
.navigation-bar a {
	float: left;
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	font-size: 20px;
	font-family: poppins;
	text-transform: uppercase;
}

.drop-button {
	float: left;
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	font-size: 20px;
	font-family: poppins;
	text-transform: uppercase;
}

.navigation-bar a:hover {
	background: #fff;
	color: #333;
}
/* we want some elements to be at the right of our homepage i.e.: Contact us section */
.navigation-bar a.right {
	float: right;
}

/*DEVELOPER POLL */
.poll {
	padding: 120px;
	text-align: center;
	/* background: #15400c; (green)*/
	background: #36454F;
	font-family: poppins;
}


/* MAIN */
.main{
	width:100%;
	overflow:hidden;
	background: #a2a0a5;
	/*margin-top: 20px;*/
}

.main ul{
	padding: 0px;
	margin: 0px;
}

.main ul li{
	float: left;
	list-style: none;
	width:16%;
	height:400px;
	background: #79787a;
	margin: 20px 0px 20px 55px;
}

.main ul li .header{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #36454F;
	text-align: center;
	color:white;
	font-size: 20px;
}

.main ul li .header:hover {
	background: #fff;
	color: #333;
}

/*
img {
	width: 150px;
	height: 150px;
}
*/

.book{
	float: left;
	list-style: none;
	width:16%;
	height:400px;
	background: #79787a;
	margin: 20px 0px 20px 55px;
}




/*FOOTER*/
.footer {
	padding: 150px;
	float: left;
	background: #333;
	font-family: poppins;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
	.main ul li {
		width: 50%;
		margin-left: 40px;
	}
}
/* TODO further responsive layout...*/










